* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;

   &::-webkit-scrollbar {
      width: 20px;
   }

   &::-webkit-scrollbar-track {
      background-color: transparent;
   }

   &::-webkit-scrollbar-thumb {
      background-color: rgba(146, 146, 146, 0.171);
      border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
   }

   &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(146, 146, 146, 0.322);
   }
}

:root {
   --background: #f2f2f2;
   --text-primary: #0f0f0f;
   --shadow: 0px 15px 13px -4px #00000056;
   --background-dark-2: #e1e1e1;
   --background-dark-1: #c8c8c8;
   --icon-dark-2: #e1e1e1;
   --icon-dark-1: #c8c8c8;
}

[data-theme='dark'] {
   --background: #05010a;
   --background-dark-2: #1d1a21;
   --background-dark-1: #434145;
   --text-primary: #f2f2f2;
   --shadow: 7px 15px 13px -4px #ffffff1b;
   --icon-dark-2: #1d1a21;
   --icon-dark-1: #434145;
}

body {
   font-size: 16px;
   background-color: var(--background);
   color: var(--text-primary);
   transition: background 0.5s, color 0.5s ease-in-out;
   overflow: hidden;
}

.dark-1 {
   background-color: var(--background-dark-1);
   transition: background 0.5s ease-in-out;
}

.dark-2 {
   background-color: var(--background-dark-2);
   transition: background 0.5s ease-in-out;
}

.icon-dark-1 {
   transition: background 0.5s, color 0.5s ease-in-out;
   color: var(--icon-dark-1);
}

.icon-dark-2 {
   transition: background 0.5s, color 0.5s ease-in-out;
   color: var(--icon-dark-2);
}

.hero {
   font-size: 40px;
}

@media (min-width: 768px) {
   body {
      font-size: 18px;
   }

   .hero {
      font-size: 50px;
   }
}
@media (min-width: 1024px) {
   body {
      font-size: 19px;
   }
   .hero {
      font-size: 80px;
   }
}
@media (min-width: 1280px) {
   body {
      font-size: 20px;
   }
}
