* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root {
   --background: #f2f2f2;
   --text-primary: #0f0f0f;
   --shadow: 0px 15px 13px -4px #00000056;
   --background-dark-2: rgba(146, 146, 146, 0.171);
   --background-dark-1: rgba(146, 146, 146, 0.322);
}

[data-theme='dark'] {
   --background: #05010a;
   --background-dark-2: rgba(146, 146, 146, 0.171);
   --background-dark-1: rgba(146, 146, 146, 0.322);
   --text-primary: #f2f2f2;
   --shadow: 7px 15px 13px -4px #ffffff1b;
}

body {
   font-size: 16px;
   background-color: var(--background);
   color: var(--text-primary);
   transition: all 0.5s ease-in-out;
   overflow: hidden;
}

.dark-1 {
   background-color: var(--background-dark-1);
}

.dark-2 {
   background-color: var(--background-dark-2);
}

.hero {
   font-size: 40px;
}

@media (min-width: 768px) {
   body {
      font-size: 18px;
   }

   .hero {
      font-size: 50px;
   }
}
@media (min-width: 1024px) {
   body {
      font-size: 19px;
   }
   .hero {
      font-size: 80px;
   }
}
@media (min-width: 1280px) {
   body {
      font-size: 20px;
   }
}
