.chat {
   position: relative;
   display: flex;
   flex-direction: row;
   height: 100vh;
   width: 100%;

   .dashboardContainer {
      width: 400px;
      height: 100%;
   }

   .message_textInput_container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
   }
}

@media (max-width: 1080px) {
   .dashboardContainerHiding,
   .dashboardContainerShowing {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100% !important;
      overflow: hidden;
      transition: all 0.4s linear;
      z-index: 10;

      &.dashboardContainerHiding {
         transform: translateX(-100%);
      }

      &.dashboardContainerShowing {
         transform: translateX(0);
      }
   }

   .burger {
      position: absolute;
      display: block;
      top: 10px;
      left: 20px;
      cursor: pointer;
   }
}
