.chat {
   display: flex;
   flex-direction: row;
   width: 100vw;
   height: 100vh;

   .message_textInput_container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100vw;
      height: 100vh;
   }
}
