.messagesContainer {
   position: relative;
   display: flex;
   justify-content: center;
   height: 100%;
   width: 100%;
   overflow-y: auto;
   overflow-x: hidden;

   .lightMode {
      position: absolute;
      right: 20px;
      top: 10px;
   }

   .messages {
      width: 100%;
      padding-top: 80px;
      padding-bottom: 10px;
      overflow-y: auto;
      overflow-x: hidden;
   }

   .roomName {
      position: absolute;
      transform: translateX(-50%);
      top: 20px;
   }
}

.showing {
   animation: showingAnimation 0.4s normal forwards linear;
}

.hidden {
   animation: hiddenAnimation 0.4s normal forwards linear;
}

@keyframes showingAnimation {
   0% {
      position: absolute;
      top: 0;
      transform: translateY(-100%) translateX(-50%);
      opacity: 0;
   }

   100% {
      position: absolute;
      top: 20px;
      transform: translateY(0%) translateX(-50%);
      opacity: 1;
   }
}

@keyframes hiddenAnimation {
   100% {
      position: absolute;
      display: hidden;
      top: 20px;
      transform: translateY(-100%) translateX(-50%);
      opacity: 0;
   }
}
