.messagesContainer {
   display: flex;
   justify-content: center;
   height: 100%;
   width: 100%;
   overflow-y: auto;
   overflow-x: hidden;

   .lightMode {
      position: absolute;
      right: 20px;
      top: 10px;
   }

   .messages {
      width: 100%;
      padding-top: 60px;
      padding-bottom: 10px;
      overflow-y: auto;
   }
}
