.room {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   padding-top: 8px;
   padding-bottom: 8px;

   .user {
      display: flex;
      align-items: center;
      padding: 8px 16px;
      gap: 10px;
   }

   .avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      border-radius: 100%;
      overflow: hidden;
   }

   span {
      align-content: end;
   }
}
