.usersMessages {
   width: 100%;
   padding-left: 10%;
   padding-right: 10%;
   display: flex;
   height: max-content;

   .wrapperContainerMessages {
      display: flex;
      max-width: 45%;

      .svgContainer {
         display: flex;

         span {
            display: flex;
         }
      }

      .messagesContainer {
         padding: 10px;
         border-radius: 10px 0px 10px 10px;
         word-break: break-all;
      }
   }
}

.hidden {
   animation: hiddenAnimation 0.4s normal forwards linear;
}

.showing {
   animation: showingAnimation 0.4s normal forwards linear;
}

@keyframes hiddenAnimation {
   100% {
      transform: translateX(-200%);
      opacity: 0;
      display: none;
   }
}

@keyframes showingAnimation {
   0% {
      transform: translateX(-200%);
      opacity: 0;
   }

   100% {
      transform: translateX(0%);
      opacity: 1;
   }
}
