%container-column {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100vw;
}

.container {
   @extend %container-column;
   gap: 30px;
   overflow: auto;

   div {
      display: flex;
      gap: 10px;
   }

   .lightMode {
      position: absolute;
      top: 20px;
      right: 40px;
   }
}
