%container-column {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100vw;
   background-color: rgba(0, 0, 0, 0.822);
}

.container {
   @extend %container-column;
   gap: 30px;
   overflow: auto;

   h1 {
      color: white;
   }

   div {
      display: flex;
      gap: 10px;
   }
}
