.textInput {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: min-content;
   padding-top: 20px;
   padding-bottom: 20px;
   .inputContainer {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
   }
}

.showing {
   animation: showingAnimation 0.4s normal forwards linear;
}

@keyframes showingAnimation {
   0% {
      transform: translateY(110%);
      opacity: 0;
   }

   100% {
      transform: translateY(0%);
      opacity: 1;
   }
}
