.userMessage {
   width: 100%;
   padding-left: 10%;
   padding-right: 10%;
   display: flex;
   height: max-content;
   justify-content: end;

   .wrapperContainerMessage {
      display: flex;
      max-width: 45%;

      .svgContainer {
         display: flex;

         span {
            display: flex;
         }
      }

      .messageContainer {
         display: flex;
         gap: 5px;
         padding: 10px;
         border-radius: 10px 0px 10px 10px;
         word-break: break-all;

         .time {
            position: relative;
            left: 5px;
            bottom: -7px;
            display: flex;
            font-size: 12px;
            height: 100%;
            align-items: end;
            white-space: nowrap;
         }
      }
   }
}

.showing {
   animation: showingAnimation 0.4s normal forwards linear;
}

@keyframes showingAnimation {
   0% {
      transform: translateX(200%);
      opacity: 0;
   }

   100% {
      transform: translateX(0%);
      opacity: 1;
   }
}
