.auth {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100vw;
   background-color: rgba(0, 0, 0, 0.822);
   position: absolute;
   backdrop-filter: blur(10px);
   top: 0;
   right: 50%;
   transform: translate(50%);
}
