.rooms {
   height: 100%;
   width: 100%;
   display: flex;
   padding-bottom: 80px;
   overflow: hidden;
}

.FaReact {
   color: #087ea4;
}

.FaNodeJs {
   color: #417e38;
}

.hiddenIn {
   animation: hiddenAnimationIn 0.4s normal infinite linear;
}

.hiddenOut {
   width: 100%;
   animation: hiddenAnimationOut 0.4s normal forwards linear;
   overflow-y: auto;
}

@keyframes hiddenAnimationIn {
   0% {
      transform: translateY(0%);
      opacity: 1;
      display: none;
   }
   50% {
      transform: translateY(25%);
      opacity: 0.5;
   }

   100% {
      transform: translateY(-25%);
      opacity: 0;
   }
}

@keyframes hiddenAnimationOut {
   0% {
      transform: translateY(-25%);
      opacity: 0;
      display: none;
   }

   50% {
      transform: translateY(20%);
      opacity: 0.5;
   }

   100% {
      transform: translateY(0%);
      opacity: 1;
   }
}
